In [2]:
# Packages
import os 
import numpy as np 
import pandas as pd

print(os.getcwd())

/Users/kareenakothari/Netflix_data_project

In [5]:
# Importing all user data 
Kothari_user_data = pd.read_csv(r"/Users/Kareenakothari/Netflix_data_project/ViewingActivity.csv")

Kothari_user_data.info()

# Understanding data:
Kothari_user_data.shape
Kothari_user_data.head(1)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29927 entries, 0 to 29926
Data columns (total 10 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Profile Name             29927 non-null  object
 1   Start Time               29927 non-null  object
 2   Duration                 29927 non-null  object
 3   Attributes               5898 non-null   object
 4   Title                    29927 non-null  object
 5   Supplemental Video Type  1245 non-null   object
 6   Device Type              29927 non-null  object
 7   Bookmark                 29927 non-null  object
 8   Latest Bookmark          29927 non-null  object
 9   Country                  29927 non-null  object
dtypes: object(10)
memory usage: 2.3+ MB

,Profile Name,Start Time,Duration,Attributes,Title,Supplemental Video Type,Device Type,Bookmark,Latest Bookmark,Country
0,Anil,2022-06-09 04:33:53,00:00:09,Autoplayed: user action: None;,Teaser: A Perfect Pairing,TEASER_TRAILER,Samsung 2015 Hawk-M UHD TV,00:00:09,00:00:09,US (United States)

In [10]:
#Data Cleaning 
Alluser = pd.DataFrame(Kothari_user_data.drop(['Attributes', 'Supplemental Video Type', 'Bookmark', 'Latest Bookmark'], axis=1))
#print(Alluser.head())

#Alluser.dtypes

#Conversion of start time 
Alluser['Start Time'] = pd.to_datetime(Alluser['Start Time'], utc=True)
#Alluser.dtypes


# Renaming the profile name variable:
Alluser.rename(columns={'Profile Name':'Profile_Name'},inplace = True)
Alluser.rename(columns={'Start Time':'Start_Time'},inplace = True)
#print(Alluser.head(1))

# Start time column into the data frame index
Alluser =Alluser.set_index('Start_Time')
Alluser.index = Alluser.index.tz_convert('US/Pacific')
Alluser = Alluser.reset_index()
print(Alluser.head(1))

# Duration Conversion
Alluser['Duration'] = pd.to_timedelta(Alluser['Duration'])
# Checking the data types
print(Alluser.dtypes)


# sorting to new dataframe
Alluser_ = pd.DataFrame(Alluser)
print(Alluser.head(1))

                 Start_Time Profile_Name  Duration                      Title  \
0 2022-06-08 21:33:53-07:00         Anil  00:00:09  Teaser: A Perfect Pairing

                  Device Type             Country
0  Samsung 2015 Hawk-M UHD TV  US (United States)
Start_Time      datetime64[ns, US/Pacific]
Profile_Name                        object
Duration                   timedelta64[ns]
Title                               object
Device Type                         object
Country                             object
dtype: object
                 Start_Time Profile_Name        Duration  \
0 2022-06-08 21:33:53-07:00         Anil 0 days 00:00:09

                       Title                 Device Type             Country
0  Teaser: A Perfect Pairing  Samsung 2015 Hawk-M UHD TV  US (United States)

In [11]:
# Exporting on user: Kareenas Viewing data
Kareenas_titles = Alluser_[Alluser_.Profile_Name == 'Kareena']
#print(Kareenas_titles.head(1))
Kareenas_titles.to_csv('KareenasViewData.csv')